.section__title_mentor {
  margin-bottom: 34px;

  &::before,
  &::after {
    color: $white-color;
  }

}

.mentor {
  background-color: $bg-violet;
  font-family: $font-acrom;
  color: $white-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__subtitle {
    @include font-settings(18px, 28px, 600);

    &_ora {
      margin-bottom: 5px;

      @media (min-width: 768px) {
        background-color: $main-orange;
        max-width: 612px;
        margin: 0 auto;
        margin-bottom: 5px;
      }
    }

    &_yell {
      margin-bottom: 23px;

      @media (min-width: 768px) {
        background-color: $bg-yellow;
        padding: 0 5px;
      }

      @media (min-width: 1200px) {
        max-width: 820px;
      }
    }

    &_orange {
      color: $white-color;
      padding: 0 5px;

      &:first-child {
        margin-bottom: 5px;
      }

      @media (max-width: 767px) {
        background-color: $main-orange;
      }
    }

    &_yellow {
      color: $dark-text;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      @media (max-width: 767px) {
        background-color: $bg-yellow;
      }
    }

    &_tablet-vissible {
      @media (max-width: 767px) {
        display: none;
      }
    }

    &_mobile-vissible {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__discription {
    @include font-settings(18px, 28px, 600);
    margin: auto;
    margin-bottom: 35px;

    @media (min-width: 768px) {
      @include font-settings(14px, 21px, 600);
      max-width: 538px;
      margin-bottom: 43px;
    }
  }

  &__list {
    text-align: left;

    &-title {
      @include font-settings(23px, 30px, 800);
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &-item {
      @include font-settings(14px, 21px, 400);
      position: relative;
      padding-left: 65px;

      &:not(:last-child) {
        @media (max-width: 767px) {
          margin-bottom: 18px;
        }
      }

      &::before {
        @include pseudo();
        width: 12px;
        height: 12px;
        background-color: $bg-yellow;
        position: absolute;
        top: 2px;
        left: 25px;
      }

      @media (min-width: 768px) {
        width: 330px;

        &_three {
          order: 1;
        }

        &_four {
          order: 2;
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @media (min-width: 1200px) {
      @include center-flex('hor');
    }
  }

  @media (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 106px;
    @include bg-image($path: '../images/mentor/mentor-bg.jpg');

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mentor/mentor-bg@2x.jpg);
    }
  }

  @media (min-width: 1200px) {
    background-image: url(../images/mentor/mentor-bg-desk.jpg);
    padding-top: 85px;
    padding-bottom: 108px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mentor/mentor-bg-desk@2x.jpg);
    }
  }
}

@media (min-width: 768px) {
  .container_center {
    @include center-flex('ver');
    flex-direction: column;
  }
}
