.try {
  position: relative;
  background-image: url(../images/try/img_bg-first.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 0;

  &::after {
    position: absolute;
    content: '';
    background-color: $white-color;
    width: 36px;
    height: 36px;
    left: 50%;
    bottom: -31px;
    transform: rotate(45deg) translate(-50%);
  }
}

.section__title_try {
  color: $white-color;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;

  &::before,
  &::after {
    color: $white-color;
  }
}

.try-text {
  font-size: 18px;
  font-family: 'Acrom', sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  color: $white-color;
  margin-bottom: 4px;

  &__item {
    background-color: $main-orange;
    padding: 0 3px;
  }
}

.try-description {
  font-size: 18px;
  font-family: 'Acrom', sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  color: $dark-text;

  &__item {
    background-color: $bg-yellow;
    padding: 0 3px;
  }
}

@media (max-width: 767px) {
  .try-text {
    width: 190px;
  }

  .try-description {
    width: 218px;
  }
}

@media (min-resolution: 192dpi) {
  .try {
    background-image: url(../images/try/img_bg-first@2x.jpg);
  }
}

@media (min-width: 768px) {
  .try {
    background-image: url(../images/try/tablet_first.jpg);
  }

  @media (min-resolution: 192dpi) {
    .try {
      background-image: url(../images/try/tablet_second@2x.jpg);
    }
  }

  .try-text {
    background-color: $main-orange;
    padding: 0 3px;
    margin-bottom: 4px;
    width: 544px;

    &__item {
      padding: 0;
    }
  }

  .try-description {
    background-color: $bg-yellow;
    width: 610px;
    padding: 0 3px;

    &__item {
      padding: 0;
    }
  }
}

@media (min-width: 1200px) {
  .try {
    background-image: url(../images/try/desktop.jpg);
  }

  @media (min-resolution: 192dpi) {
    .try {
      background-image: url(../images/try/desktop@2x.jpg);
    }
  }
}
