html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-montserrat;
  color: $text-grey;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.conteiner {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 724px;
  }

  @media (min-width: 1200px){
    width: 940px;
  }
}
