$font-montserrat: 'Montserrat', Arial, sans-serif;
$font-acrom: 'Acrom', Arial, sans-serif;
$font-futura: 'Futura', Arial, sans-serif;

/* белый */
$white-color: #ffffff; 

/* оранжевый */
$main-orange: #ff6b08;

/* желтый */
$bg-yellow: #fdc33f;

/* фиолетовый */
$bg-violet: #562a87;

/* серый цвет текста */
$text-grey: #6b6f7a;

/* черный цвет текста */
$dark-text: #000000;

